.addressComponents {
  display: grid;
  grid-template: repeat(2, max-content) / repeat(12, 1fr);
  column-gap: 16px;
}

.addressComponents > :first-child {
  grid-area: 1 / 1 / 2 / 6;
}

.addressComponents > :nth-child(2) {
  grid-area: 1 / 6 / 2 / 11;
}

.addressComponents > :nth-child(3) {
  grid-area: 1 / 11 / 2 / end;
}

.addressComponents > :nth-child(4) {
  grid-area: 2 / 1 / 4 / 6;
}

.addressComponents > :nth-child(5) {
  grid-area: 2 / 6 / 3 / 8;
}

.addressComponents > :nth-child(6) {
  grid-area: 2 / 8 / 3 / 11;
}

.addressComponents > :nth-child(7) {
  grid-area: 2 / 11 / 3 / end;
}

.coordinatesWrapper {
  display: flex;
  gap: 16px;
}
